{% extends 'base.html' %}


{% load static %}

{% block body %}

 <!-- CONTENT START -->
 <div class="page-content">
        
    <!-- INNER PAGE BANNER -->
    <div class="sx-bnr-inr overlay-wraper bg-parallax bg-top-center"  data-stellar-background-ratio="0.5"  style="background-image:url({% static 'images/banner/6.jpg' %});">
        <div class="overlay-main bg-black opacity-07"></div>
        <div class="container">
            <div class="sx-bnr-inr-entry">
                <div class="banner-title-outer">
                    <div class="banner-title-name">
                        <h2 class="m-tb0">About Us</h2>
                        <p>

</p>
                    </div>
                </div>
                <!-- BREADCRUMB ROW -->                            
                
                    <div>
                        <ul class="sx-breadcrumb breadcrumb-style-2">
                            <li><a href="/">Home</a></li>
                            <li>About</li>
                        </ul>
                    </div>
                
                <!-- BREADCRUMB ROW END -->                        
            </div>
        </div>
    </div>
    <!-- INNER PAGE BANNER END -->
     
    <!-- ABOUT COMPANY START -->
    <div class="section-full mobile-page-padding p-t80 p-b50 bg-gray">
        <div class="container">
                <div class="section-content">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-12">
                        
                            <div class="about-home-3 m-b30 bg-white">
                                <h3 class="m-t0 m-b20 sx-tilte">Discover the Essence of 17 Columns Interior Design</h3>
                                <p>17 Columns Interior Design focuses on crafting unique and functional spaces that reflect our clients' individuality. We combine attention to detail with innovative design to create exceptional residential and commercial projects. Our goal is to exceed expectations by delivering inspiring and enduring environments.</p>

                            <ul class="list-angle-right anchor-line">
                                <li>Expert architectural 3D modeling services to visualize your designs accurately.
                                </li>
                                <li>Consult with our specialists for comprehensive guidance on all your project needs.</li>
                                <li>Transform your spaces with bespoke interior design solutions tailored to perfection.</li>
                                <li>Enjoy top-notch service and meticulous attention to detail throughout your project journey.</li>
                            </ul>

                                                                                
                            </div>
                        </div>
                        
                        <div class="col-xl-6 col-lg-6 col-md-12">
                            <div class="video-section-full-v2">
                                <div class="video-section-full bg-no-repeat bg-cover bg-center overlay-wraper m-b30" style="background-image:url({% static 'images/video-bg.jpg' %})">
                                    <div class="overlay-main bg-black opacity-04"></div>
                                    <div class="video-section-inner">
                                        <div class="video-section-content">
                                             <a href="https://player.vimeo.com/video/34741214?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0" class="mfp-video play-now">
                                                <i class="icon fa fa-play"></i>
                                                <span class="ripple"></span>
                                            </a> 
                                            <div class="video-section-bottom">
                                                <h3 class="sx-title text-white">5 Years<br>Experience</h3>
                                            </div> 
                                        </div> 
                                    </div>  
                                </div>
                            </div>
                        </div>  
                                                      
                    </div>
               </div>
         </div>
       
    </div>   
      
     
     <!-- WHAT WE DO START -->
     <div class="section-full  mobile-page-padding bg-white  p-t80 p-b50 bg-repeat overflow-hide" style="background-image:url({% static 'images/background/cross-line2.png' %})">
        
        <div class="container">
            <!-- TITLE START -->
            <div class="section-head">
                <div class="sx-separator-outer separator-center">
                    <div class="sx-separator bg-white bg-moving bg-repeat-x" style="background-image:url({% static 'images/background/cross-line2.png' %})">
                        <h3 class="sep-line-one">Our latest styles</h3>
                    </div>
                </div>
            </div>                   
            <!-- TITLE END -->                
            <div class="section-content">
                <div class="row number-block-three-outer justify-content-center">
                    {% for details in style_list %}
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 m-b30">
                     
                        <div class="number-block-three slide-ani-top">
                           
                            <div class="sx-media">
                                <a href="{{details.category_image.url}}"><img src="{{details.category_image.url}}" alt=""></a>
                            </div>
                            <div class="figcaption bg-gray  p-a30">
                                <h4 class="m-tb0">{{ details.category_name }}</h4>
                                
                                                                                                           
                            </div>
                        </div>
                                             
                    </div>
                    {% endfor %}           
                                                                   
                 
                </div>
                
                                        

            </div>
        </div>
     </div>   
    <!-- WHAT WE DO END -->    
     
    <!-- COUNTER START -->
    <div class="section-full overlay-wraper sx-bg-secondry mobile-page-padding  p-t80 p-b50 bg-parallax ml-auto"  data-stellar-background-ratio="0.5" style="background-image:url({% static 'images/background/bg-1.jpg' %})">
        <div class="overlay-main bg-black opacity-05"></div>
        <div class="container">
            <div class="section-content">

                <div class="counter-blocks">
                    <div class="row">
                        <div class="col-xl-3 col-md-6 m-b30 ">
                            <div class="sx-count text-white sx-icon-box-wraper bg-repeat p-a30" style="background-image:url({% static 'images/background/bg-5.png' %})">
                                <h2 class="m-t0 sx-text-primary text-right"><span class="counter">5</span></h2>
                                <h4 class="m-b0">Our Experience</h4>
                            </div> 
                        </div>
                        
                        <div class="col-xl-3 col-md-6 m-b30">
                            <div class="sx-count  text-white sx-icon-box-wraper bg-repeat p-a30" style="background-image:url({% static 'images/background/bg-5.png' %})">
                                <h2 class="m-t0  sx-text-primary text-right"><span class="counter">30</span></h2>
                                <h4 class="m-b0">Project Ongoing</h4>
                            </div>
                        </div>
                        
                        <div class="col-xl-3 col-md-6 m-b30">
                            <div class="sx-count  text-white sx-icon-box-wraper bg-repeat p-a30" style="background-image:url({% static 'images/background/bg-5.png' %})">
                                <h2 class="m-t0  sx-text-primary text-right"><span class="counter">40</span></h2>
                                <h4 class="m-b0">Project Completed</h4>
                            </div> 
                        </div>
                        
                        <div class="col-xl-3 col-md-6 m-b30">
                            <div class="sx-count  text-white sx-icon-box-wraper bg-repeat  p-a30" style="background-image:url({% static 'images/background/bg-5.png' %})">
                                <h2 class="m-t0  sx-text-primary text-right"><span class="counter">26</span><span></span></h2>
                                <h4 class="m-b0">Happy Customer</h4>
                            </div> 
                        </div>                                                                                                                        
                    </div>
                </div>                                   

           </div>
       </div>

    </div>   
    <!-- COUNTER  END -->
    
     <!-- OUR TEAM START -->
     <div class="section-full p-t80 p-b50 mobile-page-padding">
                <div class="container">
                    <!-- TITLE START -->
                    <div class="section-head">
                        <div class="sx-separator-outer separator-left">
                            <div class="sx-separator bg-white bg-moving bg-repeat-x" style="background-image:url({% static 'images/background/cross-line2.png' %})">
                                <h3 class="sep-line-one">Our Team</h3>
                            </div>
                        </div>
                    </div>                   
                    <!-- TITLE END -->
                                                              
                    <!-- IMAGE CAROUSEL START -->
                    <div class="section-content">
                        <div class="row team-item-four">
                            {% for details in team_list %}
                            <div class="col-lg-3 col-md-6 col-sm-6 m-b30   ">
                                
                                <div class="our-team-2 ">
                                      <div class="profile-image">
                                          <img src="{{details.image.url}}" alt="" />
                                                                                  
                                      </div>
                                      <div class="figcaption text-black">
                                         <h4 class="m-t0">{{details.name}}</h4>
                                         <span class="m-b0">{{details.designation}}</span>
                                      </div>
                                </div>
                                
                            </div>                
                            {% endfor %}            
                            
                                                                                           
             
                        </div>
                    </div>
                    
                </div>
             </div>   
    <!-- OUR Team END -->                         

    <!-- OUR CLIENTS -->
    <div class="section-full  mobile-page-padding bg-gray  p-t80 p-b50 bg-repeat" style="background-image:url({% static 'images/background/bg-12.jpg' %});">
        
        <div class="container">
        
            <!-- TITLE START -->
            <div class="section-head">
                <div class="sx-separator-outer separator-left">
                    <div class="sx-separator bg-white bg-moving bg-repeat-x" style="background-image:url({% static 'images/background/cross-line2.png' %})">
                        <h3 class="sep-line-one">Our Partners</h3>
                    </div>
                </div>
            </div>                   
            <!-- TITLE END -->                 
            <div class="section-content">
                <div class="client-grid">
                
                    <div class="row justify-content-center">
                        {% for details in client_list %}
                        <div class="col-lg-3 col-md-4 col-sm-6 m-b30">

                            <img style="height: 70px; width: 160px;" src="{{details.image.url}}" alt="">
                                                                   
                        
                        </div>
                        {% endfor %}
               
                    </div>

                                                                           
                </div>
            </div>
        </div>
        
        <div class="hilite-title text-left p-l50 text-uppercase">
            <strong>Clients</strong>
        </div>                     
     </div>   
    <!-- OUR CLIENTS END --> 
    
</div>
<!-- CONTENT END -->

{% endblock body %}