{% extends 'base.html' %}


{% load static %}

{% block body %}

  
        <!-- CONTENT START -->
        <div class="page-content">
        

            <!-- SLIDER START -->
            <div id="rev_slider_346_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="beforeafterslider1" data-source="gallery" style="background:#252525;padding:0px;">
                <!-- START REVOLUTION SLIDER 5.4.3.3 fullscreen mode -->
                <div id="rev_slider_346_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.3.3">
                    <ul>	
                    	<!-- SLIDE 1 -->
                        <li data-index="rs-964" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="{&quot;revslider-weather-addon&quot; : { &quot;type&quot; : &quot;&quot; ,&quot;name&quot; : &quot;&quot; ,&quot;woeid&quot; : &quot;&quot; ,&quot;unit&quot; : &quot;&quot; }}" data-description="" data-beforeafter='{"moveto":"50%|50%|50%|50%","bgColor":"#e7e7e7","bgType":"image","bgImage":"{% static 'images/main-slider/slider5/slide1.jpg' %}",
                        "bgFit":"cover","bgPos":"center center","bgRepeat":"no-repeat","direction":"horizontal","easing":"Power2.easeInOut","delay":"500","time":"750","out":"fade","carousel":false}'>
                    <!-- MAIN IMAGE -->
                    <img src="{% static 'images/main-slider/slider5/slide1-sk.jpg' %}" data-beforeafter="after"  data-bgcolor=''  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->
                    
                    <!-- LAYER NR. 1 text -->
                    <div class="tp-caption   tp-resizeme rs-parallaxlevel-5" 
                        id="slide-964-layer-1" 
                        data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                        data-y="['middle','middle','middle','middle']" data-voffset="['110','110','110','0']" 
                        data-fontsize="['120','120','120','60']"
                        data-lineheight="['120','120','120','60']"
                        data-letterspacing="['50','50','50','5']"
                        data-width="['960','960','960','960']"
                        
                        
                        data-height="none"
                        data-whitespace="normal"
                    
                        data-type="text" 
                        data-beforeafter="before" 
                        data-responsive_offset="on" 
                    
                        data-frames='[{"delay":600,"speed":2000,"frame":"0","from":"sX:1;sY:1;opacity:0;fb:40px;","to":"o:1;fb:0;","ease":"Power4.easeInOut"},
                        {"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                        data-textAlign="['center','center','center','center']"
                        data-paddingtop="[0,0,0,0]"
                        data-paddingright="[0,0,0,50]"
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[50,50,50,50]"
                    
                        style="z-index: 16; white-space: nowrap; font-size: 120px; line-height: 120px; font-weight: 900; color: #2e313b; letter-spacing: 10px;font-family: 'Poppins', sans-serif;text-transform:uppercase;">Creative</div>
                    <!-- LAYER NR. 2 text -->
                    <div class="tp-caption   tp-resizeme rs-parallaxlevel-5" 
                        id="slide-964-layer-2" 
                        data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                        data-y="['middle','middle','middle','middle']" data-voffset="['210','210','210','100']" 
                        data-width="['960','960','960','320']"
                        data-height="none"
                        data-whitespace="normal"
                    
                        data-type="text" 
                        data-beforeafter="before" 
                        data-responsive_offset="on" 
                    
                        data-frames='[{"delay":600,"speed":2000,"frame":"0","from":"sX:1;sY:1;opacity:0;fb:40px;","to":"o:1;fb:0;","ease":"Power4.easeInOut"},
                        {"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                        data-textAlign="['center','center','center','center']"
                        data-paddingtop="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[5,5,5,5]"
                    
                        style="z-index: 11; min-width: 960px; max-width: 960px; white-space: normal; font-size: 18px; line-height: 24px; font-weight: 700; color: #2e313b; letter-spacing: 1px;font-family: 'Poppins', sans-serif;text-transform:uppercase;">Right design and right ideas matter a lot of in interior design business. a style that makes a statement.</div>
                    
                    <!-- LAYER NR. 3  button-->
                    <div class="tp-caption   tp-resizeme rs-parallaxlevel-4" 
                        id="slide-964-layer-3" 
                        data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                        data-y="['bottom','bottom','bottom','bottom']" data-voffset="['70','70','70','80']" 
                        data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"
                    
                        data-type="text" 
                        data-beforeafter="before" 
                        data-responsive_offset="on" 
                    
                        data-frames='[{"delay":700,"speed":2000,"frame":"0","from":"sX:1;sY:1;opacity:0;fb:40px;","to":"o:1;fb:0;","ease":"Power4.easeInOut"},
                        {"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"},
                        {"frame":"hover","speed":"200","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;fb:0;","style":"c:rgb(0,0,0);bg:rgb(255,255,255);"}]'
                        
                        data-textAlign="['center','center','center','center']"
                        data-paddingtop="[0,0,0,0]"
                        data-paddingright="[40,40,40,40]"
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[45,45,45,45]"
                    
                        style="z-index: 12; white-space: nowrap; font-size: 15px; line-height: 60px; font-weight: 700; color: #fff; letter-spacing: 5px;font-family: 'Poppins', sans-serif;background-color:#2e313b;cursor:pointer;">READ MORE</div>
                        
                    <!-- SLIDE RIGHT PART START-->
                    
                    <!-- LAYER NR. 1  text-->
                    <div class="tp-caption   tp-resizeme  tp-blackshadow rs-parallaxlevel-5" 
                        id="slide-964-layer-4" 
                        data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                        data-y="['middle','middle','middle','middle']" data-voffset="['110','110','110','0']" 
                        data-fontsize="['120','120','120','60']"
                        data-lineheight="['120','120','120','60']"
                        data-letterspacing="['50','50','50','5']"
                        data-width="['960','960','960','960']"
                        data-height="none"
                        data-whitespace="nowrap"
                        
                    
                        data-type="text" 
                        data-beforeafter="after" 
                        data-responsive_offset="on" 
                    
                        data-frames='[{"delay":2000,"speed":2000,"frame":"0","from":"sX:1;sY:1;opacity:0;fb:40px;","to":"o:1;fb:0;","ease":"Power4.easeInOut"},
                        {"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                        data-textAlign="['center','center','center','center']"
                        data-paddingtop="[0,0,0,0]"
                        data-paddingright="[0,0,0,50]"
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[50,50,50,50]"
                       
                    
                        style="z-index: 16; white-space: nowrap; font-size: 120px; line-height: 120px; font-weight: 900; color: #ffffff; letter-spacing: 10px;
                        font-family: 'Poppins', sans-serif;text-transform:uppercase;">Creative </div>
                    
                    <!-- LAYER NR. 2 text -->
                    <div class="tp-caption   tp-resizeme rs-parallaxlevel-5" 
                        id="slide-964-layer-5" 
                        data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                        data-y="['middle','middle','middle','middle']" data-voffset="['210','210','210','100']" 
                        data-width="['960','960','960','320']"
                        data-height="none"
                        data-whitespace="normal"
                    
                        data-type="text" 
                        data-beforeafter="after" 
                        data-responsive_offset="on" 
                    
                        data-frames='[{"delay":2100,"speed":2000,"frame":"0","from":"sX:1;sY:1;opacity:0;fb:40px;","to":"o:1;fb:0;","ease":"Power4.easeInOut"},
                        {"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                        data-textAlign="['center','center','center','center']"
                        data-paddingtop="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[5,5,5,5]"
                    
                        style="z-index: 17; min-width: 960px; max-width: 960px; white-space: normal; font-size: 18px; line-height: 24px; font-weight: 700; color: #ffffff; letter-spacing: 1px;font-family: 'Poppins', sans-serif;text-transform:uppercase;">Right design and right ideas matter a lot of in interior design business. a style that makes a statement.</div>
                    
                    <!-- LAYER NR. 3  button-->
                    <div class="tp-caption   tp-resizeme rs-parallaxlevel-4" 
                        id="slide-964-layer-6" 
                        data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                        data-y="['bottom','bottom','bottom','bottom']" data-voffset="['70','70','70','80']" 
                        data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"
                    
                        data-type="text" 
                        data-beforeafter="after" 
                        data-responsive_offset="on" 
                    
                        data-frames='[{"delay":2200,"speed":2000,"frame":"0","from":"sX:1;sY:1;opacity:0;fb:40px;","to":"o:1;fb:0;","ease":"Power4.easeInOut"},
                        {"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"},
                        {"frame":"hover","speed":"200","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;fb:0;","style":"c:rgb(0,0,0);bg:rgb(255,255,255);"}]'
                        data-textAlign="['center','center','center','center']"
                        data-paddingtop="[0,0,0,0]"
                        data-paddingright="[40,40,40,40]"
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[45,45,45,45]"
                       
                        style="z-index: 18; white-space: nowrap; font-size: 15px; line-height: 60px; font-weight: 700; color: #000; letter-spacing: 5px;font-family: 'Poppins', sans-serif;background-color:rgb(255,255,255);cursor:pointer;">READ MORE</div>
                    </li>
                    
                    	<!-- SLIDE 1 -->
                        <li data-index="rs-965" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="{&quot;revslider-weather-addon&quot; : { &quot;type&quot; : &quot;&quot; ,&quot;name&quot; : &quot;&quot; ,&quot;woeid&quot; : &quot;&quot; ,&quot;unit&quot; : &quot;&quot; }}" data-description="" data-beforeafter='{"moveto":"50%|50%|50%|50%","bgColor":"#e7e7e7","bgType":"image","bgImage":"{% static 'images/main-slider/slider5/slide2.jpg' %}","bgFit":"cover","bgPos":"center center","bgRepeat":"no-repeat","direction":"horizontal","easing":"Power2.easeInOut","delay":"500","time":"750","out":"fade","carousel":false}'>
                    <!-- MAIN IMAGE -->
                    <img src="{% static 'images/main-slider/slider5/slide2-sk.jpg' %}" data-beforeafter="after"  data-bgcolor=''  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->
                    
                    <!-- LAYER NR. 1 text -->
                    <div class="tp-caption   tp-resizeme rs-parallaxlevel-5" 
                        id="slide-965-layer-1" 
                        data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                        data-y="['middle','middle','middle','middle']" data-voffset="['110','110','110','0']" 
                        data-fontsize="['120','120','120','60']"
                        data-lineheight="['120','120','120','60']"
                        data-letterspacing="['50','50','50','5']"
                        data-width="['960','960','960','960']"
                        
                        data-height="none"
                        data-whitespace="normal"
                    
                        data-type="text" 
                        data-beforeafter="before" 
                        data-responsive_offset="on" 
                    
                        data-frames='[{"delay":600,"speed":2000,"frame":"0","from":"sX:1;sY:1;opacity:0;fb:40px;","to":"o:1;fb:0;","ease":"Power4.easeInOut"},
                        {"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                        data-textAlign="['center','center','center','center']"
                        data-paddingtop="[0,0,0,0]"
                        data-paddingright="[0,0,0,50]"
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[50,50,50,50]"
                    
                        style="z-index: 16; white-space: nowrap; font-size: 120px; line-height: 120px; font-weight: 900; color: #2e313b; letter-spacing: 10px;font-family: 'Poppins', sans-serif;text-transform:uppercase;">Unique</div>
                    <!-- LAYER NR. 2 text -->
                    <div class="tp-caption   tp-resizeme rs-parallaxlevel-5" 
                        id="slide-965-layer-2" 
                        data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                        data-y="['middle','middle','middle','middle']" data-voffset="['210','210','210','100']" 
                        data-width="['960','960','960','320']"
                        data-height="none"
                        data-whitespace="normal"
                    
                        data-type="text" 
                        data-beforeafter="before" 
                        data-responsive_offset="on" 
                    
                        data-frames='[{"delay":600,"speed":2000,"frame":"0","from":"sX:1;sY:1;opacity:0;fb:40px;","to":"o:1;fb:0;","ease":"Power4.easeInOut"},
                        {"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                        data-textAlign="['center','center','center','center']"
                        data-paddingtop="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[5,5,5,5]"
                    
                        style="z-index: 11; min-width: 960px; max-width: 960px; white-space: normal; font-size: 18px; line-height: 24px; font-weight: 700; color: #2e313b; letter-spacing: 1px;font-family: 'Poppins', sans-serif;text-transform:uppercase;">Right design and right ideas matter a lot of in interior design business.</div>
                    <!-- LAYER NR. 3  button-->
                    <div class="tp-caption   tp-resizeme rs-parallaxlevel-4" 
                        id="slide-965-layer-3" 
                        data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                        data-y="['bottom','bottom','bottom','bottom']" data-voffset="['70','70','70','80']" 
                        data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"
                    
                        data-type="text" 
                        data-beforeafter="before" 
                        data-responsive_offset="on" 
                    
                        data-frames='[{"delay":700,"speed":2000,"frame":"0","from":"sX:1;sY:1;opacity:0;fb:40px;","to":"o:1;fb:0;","ease":"Power4.easeInOut"},
                        {"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"},
                        {"frame":"hover","speed":"200","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;fb:0;","style":"c:rgb(0,0,0);bg:rgb(255,255,255);"}]'
                        
                        data-textAlign="['center','center','center','center']"
                        data-paddingtop="[0,0,0,0]"
                        data-paddingright="[40,40,40,40]"
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[45,45,45,45]"
                    
                        style="z-index: 12; white-space: nowrap; font-size: 15px; line-height: 60px; font-weight: 700; color: #fff; letter-spacing: 5px;font-family: 'Poppins', sans-serif;background-color:#2e313b;cursor:pointer;">READ MORE</div>
                        
                    <!-- SLIDE RIGHT PART START-->
                    
                    <!-- LAYER NR. 1  text-->
                    <div class="tp-caption   tp-resizeme  tp-blackshadow rs-parallaxlevel-5" 
                        id="slide-965-layer-4" 
                        data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                        data-y="['middle','middle','middle','middle']" data-voffset="['110','110','110','0']" 
                        data-fontsize="['120','120','120','60']"
                        data-lineheight="['120','120','120','60']"
                        data-letterspacing="['50','50','50','5']"
                        data-width="['960','960','960','960']"
                        data-height="none"
                        data-whitespace="nowrap"
                    
                        data-type="text" 
                        data-beforeafter="after" 
                        data-responsive_offset="on" 
                    
                        data-frames='[{"delay":2000,"speed":2000,"frame":"0","from":"sX:1;sY:1;opacity:0;fb:40px;","to":"o:1;fb:0;","ease":"Power4.easeInOut"},
                        {"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                        data-textAlign="['center','center','center','center']"
                        data-paddingtop="[0,0,0,0]"
                        data-paddingright="[0,0,0,50]"
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[50,50,50,50]"
                       
                        style="z-index: 16; white-space: nowrap; font-size: 120px; line-height: 120px; font-weight: 900;
                         color: #ffffff; letter-spacing: 10px;font-family: 'Poppins', sans-serif; text-transform:uppercase;">Unique </div>
                    
                    <!-- LAYER NR. 2 text -->
                    <div class="tp-caption   tp-resizeme rs-parallaxlevel-5" 
                        id="slide-965-layer-5" 
                        data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                        data-y="['middle','middle','middle','middle']" data-voffset="['210','210','210','100']" 
                        data-width="['960','960','960','320']"
                        data-height="none"
                        data-whitespace="normal"
                    
                        data-type="text" 
                        data-beforeafter="after" 
                        data-responsive_offset="on" 
                    
                        data-frames='[{"delay":2100,"speed":2000,"frame":"0","from":"sX:1;sY:1;opacity:0;fb:40px;","to":"o:1;fb:0;","ease":"Power4.easeInOut"},
                        {"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                        data-textAlign="['center','center','center','center']"
                        data-paddingtop="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[5,5,5,5]"
                    
                        style="z-index: 17; min-width: 960px; max-width: 960px; white-space: normal; font-size: 18px; line-height: 24px; font-weight: 700; color: #ffffff; 
                        letter-spacing:1px;font-family: 'Poppins', sans-serif;text-transform:uppercase;">Right design and right ideas matter a lot of in interior design business.</div>
                    
                    <!-- LAYER NR. 3  button-->
                    <div class="tp-caption   tp-resizeme rs-parallaxlevel-4" 
                        id="slide-965-layer-6" 
                        data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                        data-y="['bottom','bottom','bottom','bottom']" data-voffset="['70','70','70','80']" 
                        data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"
                    
                        data-type="text" 
                        data-beforeafter="after" 
                        data-responsive_offset="on" 
                    
                        data-frames='[{"delay":2200,"speed":2000,"frame":"0","from":"sX:1;sY:1;opacity:0;fb:40px;","to":"o:1;fb:0;","ease":"Power4.easeInOut"},
                        {"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"},
                        {"frame":"hover","speed":"200","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;fb:0;","style":"c:rgb(0,0,0);bg:rgb(255,255,255);"}]'
                        data-textAlign="['center','center','center','center']"
                        data-paddingtop="[0,0,0,0]"
                        data-paddingright="[40,40,40,40]"
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[45,45,45,45]"
                       
                        style="z-index: 18; white-space: nowrap; font-size: 15px; line-height: 60px; font-weight: 700; color: #2e313b; letter-spacing: 5px;font-family: 'Poppins', sans-serif;background-color:rgb(255,255,255);cursor:pointer;">READ MORE</div>
                    </li>                    
                    
                    </ul>
                    <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>	
                </div>
            </div>
            <!-- SLIDER END -->
                    
            <!-- ABOUT COMPANY SECTION START -->
            <div class="section-full p-t80 p-b50	 bg-white inner-page-padding">
                <div class="container">
                    <div class="section-content ">
                         <div class="our-history text-black">
                         		<div class="row">
                                	<div class="col-12 pic-bg-border">
                                    	<div class="our-history-pic bg-no-repeat bg-center bg-cover" data-stellar-background-ratio="0.5" style="background-image:url({% static 'images/our-history/4.jpg' %});">
											
                                        </div>
                                    </div>
                                    <div class="col-12">
                                    	<div class="our-history-content m-b30">
                                            <div class="large-title">
                                              <h2 class="m-t0">About </h2>
                                              <h4>17 Columns</h4>
                                            </div>
                                            <p>17 Columns Interior is celebrated for its innovative approach to interior design, combining functionality with aesthetic appeal. Specializing in residential and commercial spaces, they create harmonious environments that reflect each client's unique style and needs. With a focus on elegance and practicality, their designs seamlessly blend modern trends with timeless sophistication.</p>
                                            <a href="{% url 'webapp:about' %}" class="site-button-secondry btn-half"><span> View All</span></a>
                                            
                                        </div>
                                    </div>
                                </div>
                                
                         		<div class="row">
                                	<div class="col-12 pic-bg-border">
                                    	<div class="our-history-pic bg-no-repeat bg-center bg-cover" data-stellar-background-ratio="0.5" style="background-image:url({% static 'images/our-history/home1.jpg' %});">
												
                                        </div>
                                    </div>
                                    <div class="col-12">
                                    	<div class="our-history-content m-b30">
                                            <div class="large-title">
                                              <h2 class="m-t0">Premium Works</h2>
                                              <h4>17 Columns</h4>
                                            </div>
                                            <p>17 Columns Interior is celebrated for its premium interior design projects, delivering excellence in both residential and commercial spaces. With a keen eye for detail and a dedication to creating sophisticated environments, we blend creativity and expertise to exceed client expectations. Our designs seamlessly integrate functionality and refined aesthetics, ensuring each project reflects our commitment to unparalleled quality and style.</p><a href="{% url 'webapp:our_work' %}" class="site-button-secondry btn-half"><span> View All</span></a>
                                            
                                        </div>
                                    </div>
                                </div>
                                
                         		<div class="row">
                                	<div class="col-12 pic-bg-border">
                                    	<div class="our-history-pic bg-no-repeat bg-center bg-cover" data-stellar-background-ratio="0.5" style="background-image:url({% static 'images/our-history/alma-1.jpg' %});">
											
                                        </div>
                                    </div>
                                    <div class="col-12">
                                    	<div class="our-history-content m-b30">
                                            <div class="large-title">
                                              <h2 class="m-t0">Premium Products</h2>
                                              <h4>17 Columns</h4>
                                            </div>
                                            <p>At 17 Columns Interior, our product line exudes sophistication and quality craftsmanship. From elegant furniture to bespoke decor, each item is meticulously selected to enhance your space with timeless style and luxurious comfort. Discover our curated collection that caters to discerning tastes, ensuring every piece reflects our commitment to exquisite design and impeccable detail.</p>
                                            <a href="{% url 'webapp:product' %}" class="site-button-secondry btn-half"><span> View All</span></a>
                                            
                                        </div>
                                    </div>
                                </div>
                                
                         		<div class="row">
                                	<div class="col-12 pic-bg-border">
                                    	<div class="our-history-pic bg-no-repeat bg-center bg-cover" data-stellar-background-ratio="0.5" style="background-image:url({% static 'images/our-history/3.jpg' %});">
											
                                        </div>
                                    </div>
                                    <div class="col-12">
                                    	<div class="our-history-content m-b30">
                                            <div class="large-title">
                                              <h2 class="m-t0">Blog Post</h2>
                                              <h4>17 Columns</h4>
                                            </div>
                                            <p>Explore the 17 Columns Interior blog for expert insights, trends, and DIY tips that enhance your home decor journey. Discover creative ideas and practical advice to transform your living spaces into stylish sanctuaries.</p>
                                            <a href="{% url 'webapp:post_list' %}" class="site-button-secondry btn-half"><span> View All</span></a>
                                            
                                        </div>
                                    </div>
                                </div> 
                                
                         		<div class="row">
                                	<div class="col-12 pic-bg-border">
                                    	<div class="our-history-pic bg-no-repeat bg-center bg-cover" data-stellar-background-ratio="0.5" style="background-image:url({% static 'images/our-history/5.jpg' %});">
											
                                        </div>
                                    </div>
                                    <div class="col-12">
                                    	<div class="our-history-content m-b30">
                                            <div class="large-title">
                                              <h2 class="m-t0">Get In Touch With</h2>
                                              <h4>17 Columns</h4>
                                            </div>
                                            <p>Feel free to contact 17 Columns Interior for any inquiries or to schedule a consultation. We're here to assist you in bringing your interior design aspirations to life, ensuring each space reflects your unique style and preferences.</p>
                                            <a href="{% url 'webapp:contact' %}" class="site-button-secondry btn-half"><span> View All</span></a>
                                            
                                        </div>
                                    </div>
                                </div>
                                
                         		
                                                         
                                                                                                                               
                        </div>
                    </div>
                </div>
            </div>   
            <!-- ABOUT COMPANY SECTION END -->
            
                           
                                
        </div>
        <!-- CONTENT END -->
{% endblock body %}