{% extends 'base.html' %}


{% load static %}

{% block body %}




   
        <!-- CONTENT START -->
        <div class="page-content">
            <!-- INNER PAGE BANNER -->
            <div class="sx-bnr-inr overlay-wraper bg-parallax bg-top-center"  data-stellar-background-ratio="0.5"  style="background-image:url({% static 'images/banner/7.jpg' %});">
            	<div class="overlay-main bg-black opacity-07"></div>
                
                <div class="container">
                    <div class="sx-bnr-inr-entry">
                    	<div class="banner-title-outer">
                        	<div class="banner-title-name">
                        		<h2 class="m-tb0">Our Blogs</h2>
                                <p></p>
                            </div>
                        </div>
                        <!-- BREADCRUMB ROW -->                            
                        
                            <div>
                                <ul class="sx-breadcrumb breadcrumb-style-2">
                                    <li><a href="/">Home</a></li>
                                    <li>Blog</li>
                                </ul>
                            </div>
                        
                        <!-- BREADCRUMB ROW END -->                        
                    </div>
                </div> 

            </div>
            <!-- INNER PAGE BANNER END -->
            
			<!-- SECTION CONTENT START -->
            <div class="section-full p-tb80 bg-white inner-page-padding">
                
                <!-- GALLERY CONTENT START -->
                <div class="container">
                    <div class="masonry-outer mfp-gallery news-grid clearfix row ">
                        	
                        <!-- COLUMNS 1 -->
                        {% for post in post_list%}
                        <div class="masonry-item  col-lg-4 col-md-6 col-sm-12">
								<div class="blog-post blog-grid date-style-2">
                                
                                    <div class="sx-post-media sx-img-effect img-reflection">
                                        <a href="{{post.image.url}}"><img src="{{post.image.url}}" alt=""></a>
                                    </div>
                                    
                                    <div class="sx-post-info p-t30">
                                        <div class="sx-post-meta ">
                                            
                                        </div>                                
                                        <div class="sx-post-title ">
                                            <h4 class="post-title"><a href="{% url 'webapp:post_detail' post.id %}">{{post}}</a></h4>
                                        </div>

                                       
                                        
                                    </div>
                                    
                                </div>                        
                        </div>
                        {% endfor %}
                        
                       
                        <!--<div class="masonry-item  col-lg-4 col-md-6 col-sm-12">
                            <div class="blog-post blog-grid date-style-2">
                                
                                <div class="sx-post-media sx-img-effect img-reflection">
                                    <a href="javascript:void(0);"><img src="{% static 'images/blog/blog-grid/pic1.jpg' %}" alt=""></a>
                                </div>
                                
                                <div class="sx-post-info p-t30">
                                    <div class="sx-post-meta ">
                                        <ul>
                                            <li class="post-date"><strong>25</strong> <span>Sep</span> </li>
                                            <li class="post-author"><a href="javascript:void(0);">By <span>John</span></a> </li>
                                            <li class="post-comment"> <a href="javascript:void(0);">5 Comments</a> </li>
                                        </ul>
                                    </div>                             
                                    <div class="sx-post-title ">
                                        <h4 class="post-title"><a href="javascript:void(0);">Helping you and your house become better acquainted.</a></h4>
                                    </div>
                                   
                                   <div class="sx-post-readmore">
                                         <a href="javascript:void(0);" title="READ MORE" rel="bookmark" class="site-button-link">View More</a>
                                    </div>
                                    
                                </div>
                                
                            </div>
                            
                        </div>
                        
                       
                        <div class="masonry-item  col-lg-4 col-md-6 col-sm-12">
                            <div class="blog-post blog-grid date-style-2">
                                
                                <div class="sx-post-media sx-img-effect img-reflection">
                                    <a href="javascript:void(0);"><img src="{% static 'images/blog/blog-grid/pic2.jpg' %}" alt=""></a>
                                </div>
                                
                                <div class="sx-post-info p-t30">
                                    <div class="sx-post-meta ">
                                        <ul>
                                            <li class="post-date"><strong>26</strong> <span>Sep</span> </li>
                                            <li class="post-author"><a href="javascript:void(0);">By <span>John</span></a> </li>
                                            <li class="post-comment"> <a href="javascript:void(0);">5 Comments</a> </li>
                                        </ul>
                                    </div>                             
                                    <div class="sx-post-title ">
                                        <h4 class="post-title"><a href="javascript:void(0);">Creating quality urban lifestyles, building...</a></h4>
                                    </div>
                                   
                                   <div class="sx-post-readmore">
                                         <a href="javascript:void(0);" title="READ MORE" rel="bookmark" class="site-button-link">View More</a>
                                    </div>
                                    
                                </div>
                                
                            </div>
                        </div>
                        
                        
                        <div class="masonry-item  col-lg-4 col-md-6 col-sm-12">
                            <div class="blog-post blog-grid date-style-2">
                                
                                <div class="sx-post-media sx-img-effect img-reflection">
                                    <a href="javascript:void(0);"><img src="{% static 'images/blog/blog-grid/pic3.jpg' %}" alt=""></a>
                                </div>
                                
                                <div class="sx-post-info p-t30">
                            
                                    <div class="sx-post-meta ">
                                        <ul>
                                            <li class="post-date"><strong>16</strong> <span>Sep</span> </li>
                                            <li class="post-author"><a href="javascript:void(0);">By <span>John</span></a> </li>
                                            <li class="post-comment"> <a href="javascript:void(0);">3 Comments</a> </li>
                                        </ul>
                                    </div>
                                                                
                                    <div class="sx-post-title ">
                                        <h4 class="post-title"><a href="javascript:void(0);">When it comes to your house, don’t mess...</a></h4>
                                    </div>
                                    

                                    
                                   <div class="sx-post-readmore">
                                         <a href="javascript:void(0);" title="READ MORE" rel="bookmark" class="site-button-link">View More</a>
                                    </div>
                                    
                                </div>
                                
                            </div>
                        </div>
                        
                        
                        <div class="masonry-item  col-lg-4 col-md-6 col-sm-12">
                            <div class="blog-post blog-grid date-style-2">
                                
                                <div class="sx-post-media sx-img-effect img-reflection">
                                    <a href="javascript:void(0);"><img src="{% static 'images/blog/blog-grid/pic4.jpg' %}" alt=""></a>
                                </div>
                                
                                <div class="sx-post-info p-t30">
                            
                                    <div class="sx-post-meta ">
                                        <ul>
                                            <li class="post-date"><strong>18</strong> <span>Sep</span> </li>
                                            <li class="post-author"><a href="javascript:void(0);">By <span>John</span></a> </li>
                                            <li class="post-comment"> <a href="javascript:void(0);">5 Comments</a> </li>
                                        </ul>
                                    </div>
                                                                
                                    <div class="sx-post-title ">
                                        <h4 class="post-title"><a href="javascript:void(0);">Don’t get framed by the competition, trust our...</a></h4>
                                    </div>
                                    

                                    
                                   <div class="sx-post-readmore">
                                         <a href="javascript:void(0);" title="READ MORE" rel="bookmark" class="site-button-link">View More</a>
                                    </div>
                                    
                                </div>
                                
                            </div>
                        </div>
                        
                        
                        <div class="masonry-item  col-lg-4 col-md-6 col-sm-12">
                            <div class="blog-post blog-grid date-style-2">
                                
                                <div class="sx-post-media sx-img-effect img-reflection">
                                    <a href="javascript:void(0);"><img src="{% static 'images/blog/blog-grid/pic5.jpg' %}" alt=""></a>
                                </div>
                                
                                <div class="sx-post-info p-t30">
                                    <div class="sx-post-meta ">
                                        <ul>
                                            <li class="post-date"><strong>15</strong> <span>Sep</span> </li>
                                            <li class="post-author"><a href="javascript:void(0);">By <span>John</span></a> </li>
                                            <li class="post-comment"> <a href="javascript:void(0);">2 Comments</a> </li>
                                        </ul>
                                    </div>                            
                            
                                    <div class="sx-post-title ">
                                        <h4 class="post-title"><a href="javascript:void(0);">We’re the construction kings, building up great...</a></h4>
                                    </div>
                                    

                                    
                                   <div class="sx-post-readmore">
                                         <a href="javascript:void(0);" title="READ MORE" rel="bookmark" class="site-button-link">View More</a>
                                    </div>
                                    
                                </div>
                                
                            </div>
                        </div>-->
                        

                    </div>
                    
                </div>
                <!-- GALLERY CONTENT END -->
            
            </div>
            <!-- SECTION CONTENT END  -->

        </div>
        <!-- CONTENT END -->

{% endblock body %}