{% extends 'base.html' %}


{% load static %}

{% block body %}


  
        <!-- CONTENT START -->
        <div class="page-content ">
            <!-- INNER PAGE BANNER -->
            <div class="sx-bnr-inr overlay-wraper bg-parallax bg-top-center"  data-stellar-background-ratio="0.5"  style="background-image:url({% static 'images/banner/10.jpg' %});">
                <div class="overlay-main bg-black opacity-07"></div>
                <div class="container">
                    <div class="sx-bnr-inr-entry">
                        <div class="banner-title-outer">
                            <div class="banner-title-name">
                                <h2 class="m-tb0">{{post_detail}}</h2>
                                <p>

</p>
                            </div>
                        </div>
                        <!-- BREADCRUMB ROW -->                            
                        
                            <div>
                                <ul class="sx-breadcrumb breadcrumb-style-2">
                                    <li><a href="javascript:void(0);">Home</a></li>
                                    <li>Blog</li>
                                </ul>
                            </div>
                        
                        <!-- BREADCRUMB ROW END -->                        
                    </div>
                </div>
            </div>
            <!-- INNER PAGE BANNER END -->
            
            <!-- SECTION CONTENT START -->
            <div class="section-full p-t80 p-b50 inner-page-padding">
                <div class="container">
                        <div class="blog-single-space max-w900 ml-auto mr-auto">
                            <!-- BLOG START --> 
                            <div class="blog-post blog-detail text-black">
                                <div class="sx-post-media">
                                     <div class="portfolio-item">
                                        <img class="img-responsive" src="{{post_detail.image.url}}" alt="">
                                    </div>
                                </div>
                                
                               
                                
                                <div class="sx-post-text">
                                    <p>{{post_detail.content}}</p>
                                    <h4>{{post_detail.title1}}</h4>
                                    <p>{{post_detail.content1}}</p>
                                    <h4>{{post_detail.title2}}</h4>
                                    <p>{{post_detail.content2}}</p>
                                    <h4>{{post_detail.title3}}</h4>
                                    <p>{{post_detail.content3}}</p>
                                    <h4>{{post_detail.title4}}</h4>
                                    <p>{{post_detail.content4}}</p>
                                    <h4>{{post_detail.title5}}</h4>
                                    <p>{{post_detail.content5}}</p>

                                
                                   
                                    
                                    
                                    
                                </div>
                                
                               
                                                             
                                                                                 
                            </div>
                            
                            <!-- OUR BLOG START -->
                            
                            <!-- TITLE START -->
                            <div class="section-head">
                                <div class="sx-separator-outer separator-left">
                                    <div class="sx-separator bg-white bg-moving bg-repeat-x" style="background-image:url({% static 'images/background/cross-line2.png' %})">
                                        <h3 class="sep-line-one">Blog</h3>
                                    </div>
                                </div>
                            </div>                   
                            <!-- TITLE END --> 
             
                            <!-- IMAGE CAROUSEL START -->
                            <div class="section-content">
                                <div class="row">
                                    {% for post in post_list%}
                                    <div class="col-md-4 col-sm-12">
                                        <div class="blog-post blog-grid date-style-2">
                                        
                                            <div class="sx-post-media sx-img-effect img-reflection">
                                                <img src="{{post.image.url}}" alt="">
                                            </div>
                                            
                                            <div class="sx-post-info p-t30">
                                                                            
                                                <div class="sx-post-title ">
                                                    <h4 class="post-title"><a href="{% url 'webapp:post_detail' post.id %}">{{post}}</a></h4>
                                                </div>
        
                                                <div class="sx-post-readmore">
                                                     <a href="javascript:void(0);" title="READ MORE" rel="bookmark" class="site-button-link"></a>
                                                </div>
                                                
                                            </div>
                                            
                                        </div>
                                    </div>
                                    
                                    {% endfor %}                                                                                                                                                                       
                                </div>
                            </div>
                             
                            <!-- OUR BLOG END -->
                                               
                            
                        </div>
                </div>
            </div>
            <!-- SECTION CONTENT END -->

        </div>
        <!-- CONTENT END -->




{% endblock body %}