{% extends 'base.html' %}


{% load static %}

{% block body %}


      <!-- CONTENT START -->
      <div class="page-content">
        <!-- INNER PAGE BANNER -->
        <div class="sx-bnr-inr overlay-wraper bg-parallax bg-top-center"  data-stellar-background-ratio="0.5"  style="background-image:url({% static 'images/banner/3.jpg' %});">
            <div class="overlay-main bg-black opacity-07"></div>
            <div class="container">
                <div class="sx-bnr-inr-entry">
                    <div class="banner-title-outer">
                        <div class="banner-title-name">
                            <h2 class="m-tb0">Aristo Products</h2>
                            <p></p>
                        </div>
                    </div>
                    <!-- BREADCRUMB ROW -->                            
                    
                        <div>
                            <ul class="sx-breadcrumb breadcrumb-style-2">
                                <li><a href="/">Home</a></li>
                                <li>Aristo Product</li>
                            </ul>
                        </div>
                    
                    <!-- BREADCRUMB ROW END -->                        
                </div>
            </div>
        </div>
        <!-- INNER PAGE BANNER END -->
        
       
                   
     
        
        <!-- SECTION CONTENT START -->
        <div class="section-full p-tb80 bg-gray inner-page-padding">
            <div class="container">
                <div class="section-content">
                    <!-- TITLE START -->
                                      
                    <!-- TITLE END -->                                 
                    <div class="work-carousel-outer">
                        <div class="owl-carousel mfp-gallery project-carousel project-carousel1 owl-btn-vertical-center">
                            {% for details in product_list  %}
                            <!-- COLUMNS 1 -->
                            <div class="item">
                                <div class="sx-box   image-single-carousel bg-cover" style="background-image:url({{details.image.url}})">
                                    
                                    <div class="sx-info  p-t20 text-white">
                                        <h4 class="sx-tilte m-t0"><a href="{% url 'webapp:product_detail' details.id %}">{{details.category_name}}</a></h4>
                                        <p>{{details.description}}</p>
                                        <a href="{% url 'webapp:product_detail' details.id %}" class="site-button btn-half button-sm"><span>View All</span></a>
                                    </div>
                                                                               
                               </div>
                            </div>
                            {% endfor %}
                            
                            <!-- 
                            <div class="item">
                                <div class="sx-box   image-single-carousel bg-cover" style="background-image:url({% static 'images/gallery/pic2.jpg' %})">
                                    
                                    <div class="sx-info  p-t20 text-white">
                                        <h4 class="sx-tilte m-t0"><a href="#">Interior Work Avroko</a></h4>
                                        <p>Many of our projects cannot be featured in this section due to the Security levels of the space.</p>
                                        <a href="#" class="site-button btn-half button-sm"><span>View All</span></a>
                                    </div>
                                                                               
                               </div>
                            </div>
                            
                            <div class="item">
                                <div class="sx-box   image-single-carousel bg-cover" style="background-image:url({% static 'images/gallery/pic3.jpg' %})">
                                    
                                    <div class="sx-info  p-t20 text-white">
                                        <h4 class="sx-tilte m-t0"><a href="#">Interior Work Avroko</a></h4>
                                        <p>Many of our projects cannot be featured in this section due to the Security levels of the space.</p>
                                        <a href="#" class="site-button btn-half button-sm"><span>View All</span></a>
                                    </div>
                                                                               
                               </div>
                            </div>-->                                                              
                                                                                                                     
                         </div>
                    </div> 
                 </div>
             </div>
         </div>           
        <!-- SECTION CONTENT END  -->            
        
      

    </div>
    <!-- CONTENT END -->



{% endblock body %}